<div class="col-sm-12">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Doubts</h1>
    <p class="mb-4"> <a target="_blank" href="#"></a></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Not Accepted Doubts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Student</th>
                            <th>Course</th>
                            <th>Created Date</th>
                            <th>Detail</th>
                            <th>Accept Doubt</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let u of doubts">
                            <td>{{u.did}}</td>
                            <td>{{u.firstname}}</td>
                            <td>{{u.coursename}}</td>
                            <td>{{u.cdate | date}}</td>
                            <td>{{u.detail}}</td>
                            <td><button type="button" class="btn btn-outline-primary"
                                    [routerLink]="['/student/student-accept-doubt',u.did]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                    <i class="fas  fa-sm text-white-50"></i>&nbsp;Accept</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Accepted Doubts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Tutor</th>
                            <th>Session Link</th>
                            <th>Topic</th>
                            <th>Session Date</th>
                            <th>Session Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let u of accepted">
                            <td>{{u.firstname}}</td>
                            <td>{{u.tname}}</td>
                            <td>{{u.session}}</td>
                            <td>{{u.detail}}</td>
                            <td>{{u.sdate | date}}</td>
                            <td>{{u.stime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>