<div class="col-sm-12">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Batches</h1>
    <p class="mb-4"> <a target="_blank" href="#"></a></p>

    <div class="container" *ngIf="batch">
        <div class="row">
            <div class="col-6 col-sm-4" *ngFor="let b of batch">
                <div class="card mb-3  " style="max-width: 18rem;">
                    <div class="card-body text-primary">
                        <h5 class="card-title">{{b.name}}</h5>
                        <p class="card-text">
                            <strong>Course : </strong>{{b.coursename}}
                        </p>
                    </div>
                    <div class="card-header bg-transparent ">
                        <a class="link-primary text-primary"  [routerLink]="['/admin/admin-feedback-batchbyid',b.batchid]"><strong>Know More</strong> &rarr;</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>