<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Tooltips on textbox card start -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Add Course</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <form class="form-material" *ngIf="myform" [formGroup]="myform" (ngSubmit)="submit()">
                    <div class="form-group form-default form-static-label" [ngClass]="{'has-error': myform.get('coursename').errors 
                    && (myform.get('coursename').touched || myform.get('coursename').dirty)}">
                        <input type="text" name="footer-email" class="form-control" placeholder="Enter Course"
                            formControlName="coursename">
                        <span class="help-block"
                            *ngIf="myform.get('coursename').errors && (myform.get('coursename').touched || myform.get('coursename').dirty)">
                            <span class="form-bar" style="color: red;" *ngIf="myform.get('coursename').errors.required">Data
                                Required</span>
                        </span>

                        <label class="float-label">Course Name</label>
                    </div>
                    <div class="form-group form-default form-static-label" [ngClass]="{'has-error': myform.get('duration').errors 
                    && (myform.get('duration').touched || myform.get('duration').dirty)}">
                        <input type="text" name="footer-email" class="form-control" placeholder="Duration"
                            formControlName="duration">
                        <span class="help-block"
                            *ngIf="myform.get('duration').errors && (myform.get('duration').touched || myform.get('duration').dirty)">
                            <span class="form-bar" style="color: red;" *ngIf="myform.get('duration').errors.required">Data
                                Required</span>
                            <span class="form-bar" style="color: red;"
                                *ngIf="myform.get('duration').errors.minlength">Invalid..!</span>
                        </span>

                        <label class="float-label">Duration (1 month)</label>
                    </div>

                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-20" data-toggle="tooltip"
                        data-placement="right" title="submit">Add
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">Course</h1>
        </div>
    </div>
    

    <p class="mb-4"> <a target="_blank" href="#"></a></p>

    <div class="container-fluid" *ngIf="course">
        <div class="row">
            <div class="col-6 col-sm-4" *ngFor="let c of course">
                <div class="card mb-3  " style="max-width: 18rem;">
                    <div class="card-body text-primary">
                        <h5 class="card-title">{{c.coursename}}</h5>
                        <p class="card-text">
                            <strong>Duration : </strong>{{c.duration}}<br><br>
                            <a class="link-primary text-primary"
                                [routerLink]="['/admin/course/edit',c.courseid]"><strong>Edit</strong> &rarr;</a>

                        </p>
                    </div>
                    <div class="card-header bg-transparent ">
                        <a class="link-primary text-primary"
                            [routerLink]="['/admin/getcoursebyid',c.courseid]"><strong>Know More</strong> &rarr;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- DataTales Example -->
    <!-- <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Coure List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table *ngIf="course" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Duartion</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let c of course">
                            <td>{{c.courseid}}</td>
                            <td>{{c.coursename}}</td>
                            <td>{{c.duration}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>