<div class="col-sm-12">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Task</h1>
    <p class="mb-4"> <a target="_blank" href="#"></a></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Submitted</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Path</th>
                            <th>Assign Date</th>
                            <th>Submission Date</th>
                            <th>Marks</th>
                            <th>Comments</th>
                            <th>View Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let u of batchtask">
                            <td>{{u.taskname}}</td>
                            <td>{{u.path}}</td>
                            <td>{{u.adate | date}}</td>
                            <td>{{u.sdate | date}}</td>
                            <td>{{u.marks}}</td>
                            <td>{{u.comments}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#myModal" (click)="view(u.stid)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-binoculars" viewBox="0 0 16 16">
                                        <path
                                            d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
                                    </svg>
                                    View Details</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3">
                                                        <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" id="dataTable"
                                                                width="100%" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Submitted Date</th>
                                                                        <th>Path</th>
                                                                        <th>Comments</th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr *ngFor="let u of details">
                                                                        <td>{{u.sdate | date}}</td>
                                                                        <td>{{u.path}}</td>
                                                                        <td>{{u.comments}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- <td><button type="button" class="btn btn-outline-danger" (click)="delete(u.feedbackid)">Delete</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Not Submitted</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Path</th>
                            <th>Assign Date</th>
                            <th>Submission Date</th>
                            <th>Marks</th>
                            <th>Comments</th>
                            <th>Submit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let u of notSubmitted">
                            <td>{{u.taskname}}</td>
                            <td>{{u.path}}</td>
                            <td>{{u.adate | date}}</td>
                            <td>{{u.sdate | date}}</td>
                            <td>{{u.marks}}</td>
                            <td>{{u.comments}}</td>
                            <td><button type="button" class="btn btn-outline-primary"
                                    [routerLink]="['/student/student-submit-task',u.btid]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-journal-check" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                        <path
                                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                        <path
                                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                    </svg>

                                    Submit Task</button></td>
                            <!-- <td><button type="button" class="btn btn-outline-danger" (click)="delete(u.feedbackid)">Delete</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>