<div class="container">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Batches</h1>
    <p class="mb-4"> <a target="_blank" href="#"></a></p>

    <div class="container" *ngIf="batch">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-4" *ngFor="let b of batch">
                <div class="card mb-3  " style="max-width: 18rem;">
                    <div class="card-body text-primary">
                        <h5 class="card-title">{{b.name}}</h5>
                        <p class="card-text">
                            <strong>Course : </strong>{{b.coursename}}<br><br>
                            <a class="link-primary text-primary"
                                [routerLink]="['/faculty/faculty-getattendance',b.batchid]"><strong>Mark
                                    Attendance</strong>
                                &rarr;</a><br><br>
                            <a class="link-primary text-primary"
                                [routerLink]="['/faculty/faculty-attendance-date',b.batchid]"><strong>View
                                    Attendance</strong>&rarr;</a><br><br>

                                    <a class="link-primary text-primary"
                                    [routerLink]="['/faculty/faculty-add-batch/edit',b.batchid]"><strong>Edit</strong>&rarr;</a>
                        </p>
                    </div>
                    <div class="card-header bg-transparent ">
                        <a class="link-primary text-primary"
                            [routerLink]="['/faculty/faculty-getbatchbyid',b.batchid]"><strong>Know More</strong>
                            &rarr;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>