<div class="col-sm-12">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5>New Batch</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <form class="form-material" *ngIf="myform" [formGroup]="myform" (ngSubmit)="submit()">

                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <select name="select" class="form-control" formControlName="userid">
                                        <option value="-1" >Select Faculty</option>
                                        <option *ngFor="let f of faculty" value="{{f.userid}}">{{f.firstname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <select name="select" class="form-control" formControlName="courseid">
                                        <option value="">Select Course</option>
                                        <option *ngFor="let c of course" value="{{c.courseid}}">{{c.coursename}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" name="footer-email" class="form-control" placeholder="Enter Name"
                                    formControlName="name">
                                <span class="form-bar"></span>
                                <label class="float-label">Batch Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" name="footer-email" class="form-control" placeholder="Duration"
                                    formControlName="duration">
                                <span class="form-bar"></span>
                                <label class="float-label">Duration (1 month)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <textarea class="form-control" placeholder="Description" formControlName="descr"></textarea>
                                <label class="float-label">Text area Input</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" name="footer-email" class="form-control" placeholder="(2pm-3pm)"
                                    formControlName="time">
                                <span class="form-bar"></span>
                                <label class="float-label">Timings</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" name="footer-email" class="form-control" 
                                    formControlName="startdate">
                                <span class="form-bar"></span>
                                <label class="float-label">Start Date</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" name="footer-email" class="form-control" 
                                    formControlName="enddate">
                                <span class="form-bar"></span>
                                <label class="float-label">End Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="isfinish" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                          IsFinish
                        </label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-20 my-3" data-toggle="tooltip"
                        data-placement="right" title="submit">Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>